<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <application
        android:name=".base.Application"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.FamilyHealth"
        android:usesCleartextTraffic="true"
        tools:replace="android:fullBackupContent"
        tools:targetApi="31">
        <activity
            android:name=".ui.activity.EditInformationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.NoInternetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.gps.PlaceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.gps.SettingGPSActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.main.DetailInformationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.main.FriendActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.gps.GPSActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.QRScanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.interaction.JoinWithFamilyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.interaction.ShareInformationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.VersionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.main.SettingActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id" />

        <receiver
            android:name=".service.InternetBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
                <action android:name="android.os.action.POWER_SAVE_MODE_CHANGED" />
            </intent-filter>
        </receiver>

        <service android:name=".service.LocationUpdateService" />
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.activity.interaction.InformationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.authen.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.authen.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.BMI.CalculatorBMIActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.BMI.RecentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.BMI.BMIActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.PermissionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.main.LanguageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.main.IntroActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.main.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/maps_api_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>